/* ===================================
    Reset
====================================== */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  color: $color-body;
  font-weight: 400;
  line-height: 1.4;
}
body,
html {
  height: 100%;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
}
a,
a:active,
a:focus {
  color: $color-green;
  text-decoration: none;
}
a:hover,
a:active {
  color: $color-green;
  text-decoration: none;
}
a:focus,
a:active,
button:focus,
button:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
img {
  max-width: 100%;
  height: auto;
}


/* ===================================
   banner
====================================== */
.banner-background{
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
  img{
    width: 100%;
  }
}

.banner-border_ngoai{
  position: absolute;
  width: 395px;
  height: 307px;
  top:100px;
  left: 17%;
  z-index: 2;
}

.banner-border{
  position: absolute;
  width: 395px;
  height: 307px;
  top: 100px;
  left: 17%;
  z-index: 2;
}

.banner-ez_life{
  position: absolute;
  width: 395px;
  height: 307px;
  top: 100px;
  left: 17%;
  z-index: 3;
  
}

.banner-giamgia{
  position: absolute;
  width: 483px;
  height: 110px;
  top: 126px;
  left: 50%;
  z-index: 3;
  
}

.banner-muasam{
  position: absolute;
  width: 483px;
  height: 71px;
  top: 240px;
  left: 50%;
  z-index: 3;
  
}
.banner-dacquyen{
  position: absolute;
  width: 483px;
  height: 119px;
  top: 300px;
  left: 47%;
  z-index: 3;
  
}



/* ===================================
   header
====================================== */

.header{
  position: fixed;
  height: 57px;
  background: white;
  width: 100%;
  z-index: 999;
  padding-left: 15px;
  padding-right: 15px;
  .logo{
    padding: 12px 0 8px 0;
  }

  .nav-right{
    margin-left: auto;
  }
}
.share-ss {
  float: right;
  padding-top: 10px;
  margin-left: 10px;
}
.lang-head{
  padding-top: 15px;
  margin-left: 10px;
  float: left;
  color: $color-body !important;
 .active{
   color: $color-green;
   font-weight: 700;
 }
  
 .lang-vn{
   padding-right: 5px;
   margin-right: 5px;
   border-right: 1px solid #dcdcdc;
 }
}

.banner{
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 60px;
  margin-top: 0px;
  height: 480px;
  background-image: url(../images/background.png);
  background-size: cover;
  
}

.search-container{
  position: absolute;
  width: 100%;
    bottom: -50px;
    z-index: 99;
}
.box-search {

  background: white;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  .line{
    height: 50px;
    width: 1px;
    background: #dcdcdc;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
  }
  .btn-xemthem{
    width: 100%;
  }
  input.incident-name {
    padding-left: 40px;
    border: 0;
  }
  select.incident-select {
    padding-left: 40px;
  }
}

.icon-search {
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-search.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: center left;
  overflow: hidden;
}

.icon-location {
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-location.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  background-position: center left;
  overflow: hidden;
}


@media (max-width: 992px) {
  .banner{
   height: auto;
    padding-bottom: 130px;
   background-image: none;
   img{
     width: 100%;
   }
  }
  
  .box-search {

    
    .line{
      height: 1px;
      width: 100%;
     margin-top: 10px;
      margin-bottom: 10px;
    }
    .btn-xemthem{
      margin-top: 15px;
    }
  }
  .search-container{
  
    bottom: 0px;
  }
}


.chuongtrinh-item {
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
  .thumb {
    img {
      width: 100%;
    }
  }
  .content {
    background: #faeede;
    padding: 10px;
    overflow: hidden;
    .box {
      border-radius: 10px;
      padding: 15px;
      background: #fff;
      .discount {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        color: $color-red;
      }
      .title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color-green;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        line-clamp: 3;
        height: 60px;
      }
      .date {
        font-size: 14px;
        margin-bottom: 20px;
        color: #4f4f4f;
      }
    }
  }
  .btn-xemthem{
    margin: 10px auto 0 auto;
    background: white;
    transition: all 0.2s ease-in-out;
    color: $color-green !important;
  }
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    .btn-xemthem{
      color:white !important;
      background: $color-green !important;
    }
  }
}



/*accordion nav */
.nav-tabs {
  border-bottom: 3px solid $color-green;
  overflow: hidden;
  padding-top: 20px;
  margin-top: 60px;
}
.nav-tabs .nav-item {
  margin-bottom: 0px;
}
.nav-tabs .nav-link {
 border: 0;
}

.tab-content{
  padding-top: 50px;
}
.nav-tai-ung-dung {
  display: block;
  text-align: center;
}

.nav-tai-ung-dung li {
  display: inline-block;
  border-radius: 10px 10px 0 0 !important;
 width: 19.5%;
 margin-left: 0;
 margin-right: 0;
background: white;

 
}

.nav-tai-ung-dung li a {
  padding: 15px 0;
  text-align: center;
  color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  span{
    display: inline-block;
  }
}

.icon-all{
  width: 35px;
  height: 29px;
  margin-right: 10px;
 
  background-image:url(../images/icon-tatca.png) ;
}

.icon-food{
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image:url(../images/icon-food.png) ;
}

.icon-shop{
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image:url(../images/icon-shop.png) ;
}

.icon-travel{
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image:url(../images/icon-travel.png) ;
}

.icon-orther{
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image:url(../images/icon-orther.png) ;
}

.nav-tai-ung-dung li a.active {
  transform: scale(1.2);
  color: white !important;
  background: $color-green !important;
}

.nav-tai-ung-dung li a.active .icon-all{
  background-image:url(../images/icon-tatca-active.png) ;
}

.nav-tai-ung-dung li a.active .icon-food{
  background-image:url(../images/icon-food-active.png) ;
}

.nav-tai-ung-dung li a.active .icon-shop{
  background-image:url(../images/icon-shop-active.png) ;
}

.nav-tai-ung-dung li a.active .icon-travel{
  background-image:url(../images/icon-travel-active.png) ;
}

.nav-tai-ung-dung li a.active .icon-orther{
  background-image:url(../images/icon-orther-active.png) ;
}


@media (max-width: 992px){
  .nav-tabs {
   
    margin-top: 0px;
  }
  .nav-tai-ung-dung li{
    width: 19%;
  }
  .nav-tai-ung-dung li a {
    padding: 15px 0;
   
    span{
      display: none;
    }
  }
  
.icon-all{
  margin-right: 0px;
}

.icon-food{
  margin-right: 0px;
}

.icon-shop{
  
  margin-right: 0px;
 
}

.icon-travel{
  margin-right: 0px;
}

.icon-orther{
  margin-right: 0px;
} 
}


.page-link{
  background-color: transparent !important;
  border: 0px solid #dee2e6;
  color: $color-body;
:hover {
  z-index: 2;
  color: $color-green;
  text-decoration: none;
  background-color: transparent !important;
 
}

}

.page-item.active .page-link {
  z-index: 3;
  color: $color-green;
  background-color: transparent !important;
  border-color: none;
  font-weight: 700;
}


/*accordion nav */

.footer-1{
  text-align: center;
  background: $color-green;
}

.footer-2{
  color: white;
  border-top: 1px solid #fff;
  padding: 15px 0;
  background: $color-green;
  .lang-footer{
    text-align: right;
    color: white !important;
    a{
      color: white !important;
    }
   .active{
    color: white;
     font-weight: 700;
   }
    
   .lang-vn{
     padding-right: 5px;
     margin-right: 5px;
     border-right: 1px solid white;
   }
  }
}


.footer{
  width: 100%;
  background-image: url(../images/bg-footer.png);
  overflow: hidden;
  .copyright{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
    border-top: 1px solid #229860;
  }
}

.footer-item{
  text-align: center;
  padding: 40px 0px;
  display: block;
  
  .title{
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    display: block;
    overflow: hidden;
  }
  .footer-item-1{
    margin: 0 8px;
    display: inline-block;
    vertical-align: middle;
    
    .qr-logo{
      margin-left: 8px;
      margin-right: 8px;
      width: 82px;
      height: 82px;
      border-radius: 10px;
      img{
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }
}



@media (max-width: 992px){

  .footer-mobile{
    background-image: url(../images/bg-footer-mobile.png);
    .copyright{
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 12px;
      border-top: 1px solid #229860;
    }
    .title{
      font-size: 18px;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;
      display: block;
      overflow: hidden;
    }
    .footer-mobile-item{
      display: table;
      text-align: center;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      .footer-mobile-item-cel-1{
        display: table-cell;
        width: 76px;
        vertical-align: middle;
       
      }
      .footer-mobile-item-cel-2{
        display: table-cell;
        width: calc(100% - 76px);
        vertical-align: middle;
       
      }
      
      .tai-ungdung{
        background-image: url(../images/btn-tai.png);
        width: 200px !important;
        height: 50px;
        border-radius: 10px;
        padding-left: 16px;
        padding-top: 15px;
        overflow: hidden;
        display: block;
      }
      .qr-logo{
        margin-left: 8px;
        margin-right: 8px;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        img{
          border-radius: 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
        }
      }
    }
  }
}

/*madal */

.modal-body {
  padding: 0;
  img{
    width: 100%;
  }
}
.modal-dialog {
  max-width: 650px;
 
}
.btn-close{
  width: 50px;
  height: 50px;
  background-image: url(../images/close.png);
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: -80px;
  cursor: pointer;
}
.product-item{
  padding: 30px;
  .discount{
    font-size: 24px;
    font-weight: 700;
    color: $color-red;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .title{
    font-size: 24px;
    font-weight: 700;
    color: $color-green;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.luu-y-box{
  background: #f2f9f6;
  border-radius: 10px;
  padding: 15px;
  .luu-y-title{
    color: $color-green;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-green;
    
  }
  .luu-y-dis{
    margin-top: 10px;
   
   
    li{
      color: $color-body;
     padding-left: 0;
    }
  }
}

.muasam-box{
 
  background: #f2f2f2;
  padding: 30px;
  .muasam-title{
    text-align: center;
    margin: 10px 0;
    color: $color-green;
    font-weight: 700;
  }
  span{
    color: $color-green;
  }
  input.incident-name {
    border: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    height: 50px;
    width: 100%;
    font-size: 14px;
   background: transparent;
    border-radius: 5px !important;
    margin-bottom: 20px;
  }
  select.incident-select {
    border: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    height: 50px;
    width: 100%;
    font-size: 14px;
    background: transparent;
    border-radius: 5px!important;
    margin-bottom: 20px;
  }
  
}

@media (max-width: 992px){
  .modal-dialog {
   margin-top: 80px;
   
  }
  .btn-close{
   
    top: -70px;
    right: 0;
  }
  .footer-1{
    padding: 10px 0;
    background: rgb(78, 157, 71);
  }
  .footer-2{
    text-align: center;
    .copyright{
      .block{
        display: block;
      }
    }
    .social_footer{
      padding: 5px 0;
    }
    .lang-footer{
      text-align: center;
  }
}
}

#scrolltop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 44px;
  height: 40px;
  background-color: $color-green;
  border-radius: 3px;
  line-height: 34px;
  color: #fff;
  z-index: 1000000;
  font-weight: bold;
  display: block;
  font-size: 30px;
  border: 1px solid #fff;
  text-align: center;
 overflow: hidden;
 .icon{
   width: 18px;
   height: 10px;
   background-image: url(../images/icon-top.png);
   background-repeat: no-repeat;
   overflow: hidden;
 }
}



.banner-slider {
 margin-top: 60px;
  overflow: hidden;
}

.banner-slider .slider.sanpham-category-slider {
 border-bottom:3px solid $color-green;
 margin-bottom: 60px;
}
 .sanpham-category-slider .slick-slide .sanpham-cate-item {
  transform: scale(1, 1);
  width: 130px;
  height: 52px;

 margin: 8px auto;
  text-align: center;

  font-size: 13px;
  color: $color-green;
  border-radius: 10px;
  overflow: hidden;
  
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: scale(1.1, 1.1);
  }
}



.slick-slide:active,
.slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  border: 0;
  outline: 0;
}
.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item {
  transform: scale(1.1, 1.1);
  background: $color-green;
  color: white;
  overflow: hidden;
  
  border-radius: 10px;
}

.sanpham-category-slider .slick-slide {
  text-align: center;
}

.sanpham-category-slider .slick-arrow {
  width: 15px !important;
  height: 30px !important;
  z-index: 99995 !important;
  background-color: transparent;
  border: 0;
  position: absolute;
}

.sanpham-category-slider .slick-prev {
  top: 20px;
  left: 0 !important;
  position: absolute;
}

.sanpham-category-slider .slick-next {
  top: 20px;
  right: 0;
  position: absolute;
}

/* Slick Slider Arrows */
.sanpham-category-slider .slick-prev,
.sanpham-category-slider .slick-next {
  width: 38px !important;
  height: 38px !important;
  position: absolute;
  z-index: 99995;
}
.sanpham-category-slider .slick-prev:before {
  background-image: url("../images/arrow-left.png");
  background-size: 15px 30px;
  display: block;
  width: 15px;
  height: 30px;
  content: "";
}
.sanpham-category-slider .slick-next:before {
  background-image: url("../images/arrow-right.png");
  background-size: 15px 30px;
  display: block;
  width: 15px;
  height: 30px;
  content: "";
}
