

.slider {
    overflow: hidden;
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
    display: block;
    &--item {
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &-item {
        height: 100vh;
        width: 100vw;
        .img-fill {
            width: 100%;
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .video-fill {
            display: flex;
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
            video {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            li {
                display: none;
            }
        }
        .slide-fill {
            width: 100vw;
            .swiper-container {
                height: 100vh !important;
            }
            .swiper-wrapper {
                position: relative;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .swiper-pagination-bullets {
                right: 2%;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background: #0f6b42;
                }
            }
        }
    }
    &-nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 20vh;
    }
    &-thumb {
        .thumb {
            cursor: pointer;
            &:focus {
                outline: none;
            }
            display: flex;
            position: relative;
            &.slick-current {
                background: #effff6;
                img {
                    width: 100% !important;
                    background: #effff6 !important;
                    margin: auto;
                    position: static !important;
                }
            }
            &.is-active {
                img {
                    width: 100%;
                }
            }
            &.slick-active {
                height: 25vh;
                img {
                    height: 80%;
                    background: #fff;
                    object-fit: contain;
                    position: absolute;
                    bottom: 0;
                }
            }
            &.slick-current {
                position: absolute;
                right: 0;
                top: 0;
            }
            img {
                margin: auto;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    &-left {
        width: 75%;
        bottom: 0;
        position: absolute;
        left: 0;
    }
    &-right {
        width: 25%;
        height: 25vh;
        bottom: 0;
        position: absolute;
        right: 0;
        .content {
            display: flex;
            flex-direction: column;
            height: 25vh;
            &--btn {
                display: flex;
                height: 5vh;
                .btn {
                    width: 50px;
                    background: #119158;
                    &:focus {
                        outline: none;
                    }
                    &:hover,
                    &:active {
                        background: #137d4e;
                    }
                    &.slick-disabled {
                        background: #0f6b42;
                    }
                    img {
                        margin: auto;
                    }
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }
            }
            &--info {
                height: 100%;
                background: #139058;
                padding: 0 25px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                color: #fff;
                p {
                    padding: 0;
                    margin: 0;
                }
                .title {
                    font-family: 'SVN-Nexa';
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                .des {
                    font-size: 15px;
                    line-height: 23px;
                    box-orient: vertical;
                    -moz-box-orient: vertical;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .slider-left,
    .slider-right {
        width: 50%;
    }
    .slider-left {
        width: 50%;
    }
    .slider-right {
        width: 50%;
    }
    .slider-thumb .thumb img,
    .slider-nav {
        background-color: #effff6;
    }
    .slider-thumb .thumb {
        height: auto!important;
    }
    .slider-right .content--info .des {
        font-size: 12px;
    }
    .slider-right .content--info .title {
        font-size: 14px;
    }
    .slider-thumb .thumb img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
    .slider-thumb .thumb.slick-current {
        position: static;
    }
}