// VARUABLE PAGE

$color-green: #008848;
$color-green-light:#157121;
$color-red: #E92629;
$color-blue: #029cdc;
$color-orange: #e57100;
$color-body: #232323;

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin bg-gradient-yellow-red {
  background: rgb(235, 162, 42);
  background: linear-gradient(90deg, rgba(235, 162, 42, 1) 0%, rgba(219, 36, 50, 1) 100%);
}

@mixin bg-gradient-red-yellow {
  background: rgb(219, 36, 50);
  background: linear-gradient(90deg, rgba(219, 36, 50, 1) 0%, rgba(235, 162, 42, 1) 100%);
}

@mixin bg-gradient-greenlight-green {
  background: rgb(218,239,172);
  background: linear-gradient(90deg, rgba(218,239,172,1) 0%, rgba(200,234,202,1) 100%);
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

h1 {
  font-family: "VPBank-Bold", sans-serif;
  color: $color-green;
  text-transform: uppercase;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  font-family: "VPBank-Bold", sans-serif;
  color: $color-green;
  text-transform: uppercase;
  font-size: 52px;
  margin-top: 20px;
  margin-bottom: 0;
}

h3 {
  color: $color-green;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 0;
}

h4 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h6 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

b,
strong {
  font-family: "VPBank-Bold", sans-serif;
}
.text-green {
  color: $color-green;
}

.text-green-light {
  color: $color-green-light;
}

.text-red {
  color: $color-red;
}

.text-blue {
  color: $color-blue;
}
.text-orange {
  color: $color-orange;
}

.text-black {
  color: black;
}

.bg-light {
  background-color: #f2f2f2;
}


.bg-shopee{
  background: #ff3c15 !important;
}
.m-auto {
  margin: auto !important;
}

.mb-30 {
  margin-bottom: 20px;
}

.p-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.pt-0{
  padding-top:0px;
}

.pb-0{
  padding-bottom: 0px;
}

section {
  position: relative;
  padding: 30px 0;
}

.position-relative {
  position: relative!important;
}


.slick-dots li button {
  border: 1px solid $color-green;

  color: $color-green;
  opacity: 0.5;
  background: $color-green;
}

.slick-dots li.slick-active button {
  opacity: 1;
}

@media (max-width: 992px) {
  h1 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


/* title */



.hidden-desktop{
  display: none;
}

.hidden-mobile{
  display: block;
}

@media (max-width: 992px) {
  .hidden-desktop{
    display: block;
  }
  
  .hidden-mobile{
    display: none;
  } 
}

.btn-xemthem{
  width: 126px;
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
  background: $color-green;
  color: white !important;
  overflow: hidden;
  display: block;
  overflow: hidden;
  border-radius: 10px;
&:hover{
  background: $color-green;
}
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}



.form-incident {
}
.form-incident .form-control {
  position: relative;
}
.form-incident label {
  font-weight: normal;
  font-size: 21px;
  color: $color-green;
}
.form-incident input.incident-name {
  border: 1px solid #b5b5b5;
  border-bottom: 0px solid #b5b5b5;
  height: 50px;
  width: 100%;
  font-size: 16px;
 
  border-radius: 0 !important;
}

.form-incident select.incident-select {
  border: 0px solid #b5b5b5;
  border-bottom: 0px solid #b5b5b5;
  height: 50px;
  width: 100%;
  font-size: 16px;
 
  border-radius: 0 !important;
}

.form-incident textarea.incident-message {
  border: 1px solid #008848;
  color: #008848;
  width: 100%;
  resize: none;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.form-incident .text-red {
  color: #ff0000;
  font-size: 10px;
  padding-left: 0 !important;
}
.form-incident .btn-submit {
  margin: 20px 0;
  display: inline-block;
  padding: 10px 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #008848;
}
.form-incident .error-input {
  border: 1px solid #ff0000 !important;
}
.form-incident .error-message {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
  max-width: 60%;
  background-color: red;
  color: #fff;
  font-size: 12px;
  text-align: right;
  padding: 3px 30px 3px 20px;
  border-radius: 20px 0 0 0;
}
.form-incident .error-message i {
  display: block;
  position: absolute;
  right: 7px;
  top: 5px;
  cursor: pointer;
}

.checkbox-box {
  margin: 10px 0 0 0;
  @include clearfix();
}

.checkbox-item {
  float: left;
  width: 50%;
}

.checkbox-loan input[type="radio"] {
  display: none;
}
.checkbox-loan input[type="radio"] + label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: $color-body;
  width: 100%;
  cursor: pointer;
}
.checkbox-loan input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $color-green;
  vertical-align: middle;
  border-radius: 30px;
  margin-right: 10px;
  margin-top: -3px;
}
.checkbox-loan input[type="radio"] + label small {
  display: none;
  padding-left: 25px;
}
.checkbox-loan input[type="radio"]:checked + label span {
  background-color: $color-green;
}
.checkbox-loan input[type="radio"]:checked + label small {
  display: block;
}