@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h1 {
  font-family: "VPBank-Bold", sans-serif;
  color: #008848;
  text-transform: uppercase;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  font-family: "VPBank-Bold", sans-serif;
  color: #008848;
  text-transform: uppercase;
  font-size: 52px;
  margin-top: 20px;
  margin-bottom: 0;
}

h3 {
  color: #008848;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 0;
}

h4 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h6 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

b,
strong {
  font-family: "VPBank-Bold", sans-serif;
}

.text-green {
  color: #008848;
}

.text-green-light {
  color: #157121;
}

.text-red {
  color: #E92629;
}

.text-blue {
  color: #029cdc;
}

.text-orange {
  color: #e57100;
}

.text-black {
  color: black;
}

.bg-light {
  background-color: #f2f2f2;
}

.bg-shopee {
  background: #ff3c15 !important;
}

.m-auto {
  margin: auto !important;
}

.mb-30 {
  margin-bottom: 20px;
}

.p-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

section {
  position: relative;
  padding: 30px 0;
}

.position-relative {
  position: relative !important;
}

.slick-dots li button {
  border: 1px solid #008848;
  color: #008848;
  opacity: 0.5;
  background: #008848;
}

.slick-dots li.slick-active button {
  opacity: 1;
}

@media (max-width: 992px) {
  h1 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* title */
.hidden-desktop {
  display: none;
}

.hidden-mobile {
  display: block;
}

@media (max-width: 992px) {
  .hidden-desktop {
    display: block;
  }
  .hidden-mobile {
    display: none;
  }
}

.btn-xemthem {
  width: 126px;
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
  background: #008848;
  color: white !important;
  overflow: hidden;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.btn-xemthem:hover {
  background: #008848;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.form-incident .form-control {
  position: relative;
}

.form-incident label {
  font-weight: normal;
  font-size: 21px;
  color: #008848;
}

.form-incident input.incident-name {
  border: 1px solid #b5b5b5;
  border-bottom: 0px solid #b5b5b5;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 0 !important;
}

.form-incident select.incident-select {
  border: 0px solid #b5b5b5;
  border-bottom: 0px solid #b5b5b5;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 0 !important;
}

.form-incident textarea.incident-message {
  border: 1px solid #008848;
  color: #008848;
  width: 100%;
  resize: none;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-incident .text-red {
  color: #ff0000;
  font-size: 10px;
  padding-left: 0 !important;
}

.form-incident .btn-submit {
  margin: 20px 0;
  display: inline-block;
  padding: 10px 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #008848;
}

.form-incident .error-input {
  border: 1px solid #ff0000 !important;
}

.form-incident .error-message {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
  max-width: 60%;
  background-color: red;
  color: #fff;
  font-size: 12px;
  text-align: right;
  padding: 3px 30px 3px 20px;
  border-radius: 20px 0 0 0;
}

.form-incident .error-message i {
  display: block;
  position: absolute;
  right: 7px;
  top: 5px;
  cursor: pointer;
}

.checkbox-box {
  margin: 10px 0 0 0;
}

.checkbox-box::after {
  display: block;
  clear: both;
  content: "";
}

.checkbox-item {
  float: left;
  width: 50%;
}

.checkbox-loan input[type="radio"] {
  display: none;
}

.checkbox-loan input[type="radio"] + label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #232323;
  width: 100%;
  cursor: pointer;
}

.checkbox-loan input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #008848;
  vertical-align: middle;
  border-radius: 30px;
  margin-right: 10px;
  margin-top: -3px;
}

.checkbox-loan input[type="radio"] + label small {
  display: none;
  padding-left: 25px;
}

.checkbox-loan input[type="radio"]:checked + label span {
  background-color: #008848;
}

.checkbox-loan input[type="radio"]:checked + label small {
  display: block;
}

/* ===================================
    Reset
====================================== */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  color: #232323;
  font-weight: 400;
  line-height: 1.4;
}

body,
html {
  height: 100%;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:focus {
  color: #008848;
  text-decoration: none;
}

a:hover,
a:active {
  color: #008848;
  text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===================================
   banner
====================================== */
.banner-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-background img {
  width: 100%;
}

.banner-border_ngoai {
  position: absolute;
  width: 395px;
  height: 307px;
  top: 100px;
  left: 17%;
  z-index: 2;
}

.banner-border {
  position: absolute;
  width: 395px;
  height: 307px;
  top: 100px;
  left: 17%;
  z-index: 2;
}

.banner-ez_life {
  position: absolute;
  width: 395px;
  height: 307px;
  top: 100px;
  left: 17%;
  z-index: 3;
}

.banner-giamgia {
  position: absolute;
  width: 483px;
  height: 110px;
  top: 126px;
  left: 50%;
  z-index: 3;
}

.banner-muasam {
  position: absolute;
  width: 483px;
  height: 71px;
  top: 240px;
  left: 50%;
  z-index: 3;
}

.banner-dacquyen {
  position: absolute;
  width: 483px;
  height: 119px;
  top: 300px;
  left: 47%;
  z-index: 3;
}

/* ===================================
   header
====================================== */
.header {
  position: fixed;
  height: 57px;
  background: white;
  width: 100%;
  z-index: 999;
  padding-left: 15px;
  padding-right: 15px;
}

.header .logo {
  padding: 12px 0 8px 0;
}

.header .nav-right {
  margin-left: auto;
}

.share-ss {
  float: right;
  padding-top: 10px;
  margin-left: 10px;
}

.lang-head {
  padding-top: 15px;
  margin-left: 10px;
  float: left;
  color: #232323 !important;
}

.lang-head .active {
  color: #008848;
  font-weight: 700;
}

.lang-head .lang-vn {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #dcdcdc;
}

.banner {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 60px;
  margin-top: 0px;
  height: 480px;
  background-image: url(../images/background.png);
  background-size: cover;
}

.search-container {
  position: absolute;
  width: 100%;
  bottom: -50px;
  z-index: 99;
}

.box-search {
  background: white;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.box-search .line {
  height: 50px;
  width: 1px;
  background: #dcdcdc;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
}

.box-search .btn-xemthem {
  width: 100%;
}

.box-search input.incident-name {
  padding-left: 40px;
  border: 0;
}

.box-search select.incident-select {
  padding-left: 40px !important;
}

.select-style select.incident-select {
  padding-left: 40px !important;
}

.icon-search {
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-search.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: center left;
  overflow: hidden;
}

.icon-location {
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-location.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  background-position: center left;
  overflow: hidden;
}

.location-form select {
  padding-left: 100px !important;
}

@media (max-width: 992px) {
  .banner {
    height: auto;
    padding-bottom: 130px;
    background-image: none;
  }
  .banner img {
    width: 100%;
  }
  .box-search .line {
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .box-search .btn-xemthem {
    margin-top: 15px;
  }
  .search-container {
    bottom: 0px;
  }
}

.chuongtrinh-item {
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.chuongtrinh-item .thumb img {
  width: 100%;
}

.chuongtrinh-item .content {
  background: #faeede;
  padding: 10px;
  overflow: hidden;
}

.chuongtrinh-item .content .box {
  border-radius: 10px;
  padding: 15px;
  background: #fff;
}

.chuongtrinh-item .content .box .discount {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #E92629;
}

.chuongtrinh-item .content .box .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #008848;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-clamp: 3;
  height: 60px;
}

.chuongtrinh-item .content .box .date {
  font-size: 14px;
  margin-bottom: 20px;
  color: #4f4f4f;
}

.chuongtrinh-item .btn-xemthem {
  margin: 10px auto 0 auto;
  background: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #008848 !important;
}

.chuongtrinh-item:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.chuongtrinh-item:hover .btn-xemthem {
  color: white !important;
  background: #008848 !important;
}

/*accordion nav */
.nav-tabs {
  border-bottom: 3px solid #008848;
  overflow: hidden;
  padding-top: 20px;
  margin-top: 60px;
}

.nav-tabs .nav-item {
  margin-bottom: 0px;
}

.nav-tabs .nav-link {
  border: 0;
}

.tab-content {
  padding-top: 50px;
}

.nav-tai-ung-dung {
  display: block;
  text-align: center;
}

.nav-tai-ung-dung li {
  display: inline-block;
  border-radius: 10px 10px 0 0 !important;
  width: 19.5%;
  margin-left: 0;
  margin-right: 0;
  background: white;
}

.nav-tai-ung-dung li a {
  padding: 15px 0;
  text-align: center;
  color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.nav-tai-ung-dung li a span {
  display: inline-block;
}

.icon-all {
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image: url(../images/icon-tatca.png);
}

.icon-food {
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image: url(../images/icon-food.png);
}

.icon-shop {
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image: url(../images/icon-shop.png);
}

.icon-travel {
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image: url(../images/icon-travel.png);
}

.icon-orther {
  width: 35px;
  height: 29px;
  margin-right: 10px;
  background-image: url(../images/icon-orther.png);
}

.nav-tai-ung-dung li a.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white !important;
  background: #008848 !important;
}

.nav-tai-ung-dung li a.active .icon-all {
  background-image: url(../images/icon-tatca-active.png);
}

.nav-tai-ung-dung li a.active .icon-food {
  background-image: url(../images/icon-food-active.png);
}

.nav-tai-ung-dung li a.active .icon-shop {
  background-image: url(../images/icon-shop-active.png);
}

.nav-tai-ung-dung li a.active .icon-travel {
  background-image: url(../images/icon-travel-active.png);
}

.nav-tai-ung-dung li a.active .icon-orther {
  background-image: url(../images/icon-orther-active.png);
}

@media (max-width: 992px) {
  .nav-tabs {
    margin-top: 0px;
  }
  .nav-tai-ung-dung li {
    width: 19%;
  }
  .nav-tai-ung-dung li a {
    padding: 15px 0;
  }
  .nav-tai-ung-dung li a span {
    display: none;
  }
  .icon-all {
    margin-right: 0px;
  }
  .icon-food {
    margin-right: 0px;
  }
  .icon-shop {
    margin-right: 0px;
  }
  .icon-travel {
    margin-right: 0px;
  }
  .icon-orther {
    margin-right: 0px;
  }
}

.page-link {
  background-color: transparent !important;
  border: 0px solid #dee2e6;
  color: #232323;
}

.page-link :hover {
  z-index: 2;
  color: #008848;
  text-decoration: none;
  background-color: transparent !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #008848;
  background-color: transparent !important;
  border-color: none;
  font-weight: 700;
}

/*accordion nav */
.footer-1 {
  text-align: center;
  background: #008848;
}

.footer-2 {
  color: white;
  border-top: 1px solid #fff;
  padding: 15px 0;
  background: #008848;
}

.footer-2 .lang-footer {
  text-align: right;
  color: white !important;
}

.footer-2 .lang-footer a {
  color: white !important;
}

.footer-2 .lang-footer .active {
  color: white;
  font-weight: 700;
}

.footer-2 .lang-footer .lang-vn {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid white;
}

.footer {
  width: 100%;
  background-image: url(../images/bg-footer.png);
  overflow: hidden;
}

.footer .copyright {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  border-top: 1px solid #229860;
}

.footer-item {
  text-align: center;
  padding: 40px 0px;
  display: block;
}

.footer-item .title {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  display: block;
  overflow: hidden;
}

.footer-item .footer-item-1 {
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
}

.footer-item .footer-item-1 .qr-logo {
  margin-left: 8px;
  margin-right: 8px;
  width: 82px;
  height: 82px;
  border-radius: 10px;
}

.footer-item .footer-item-1 .qr-logo img {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

@media (max-width: 992px) {
  .footer-mobile {
    background-image: url(../images/bg-footer-mobile.png);
  }
  .footer-mobile .copyright {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
    border-top: 1px solid #229860;
  }
  .footer-mobile .title {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    display: block;
    overflow: hidden;
  }
  .footer-mobile .footer-mobile-item {
    display: table;
    text-align: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .footer-mobile .footer-mobile-item .footer-mobile-item-cel-1 {
    display: table-cell;
    width: 76px;
    vertical-align: middle;
  }
  .footer-mobile .footer-mobile-item .footer-mobile-item-cel-2 {
    display: table-cell;
    width: calc(100% - 76px);
    vertical-align: middle;
  }
  .footer-mobile .footer-mobile-item .tai-ungdung {
    background-image: url(../images/btn-tai.png);
    width: 200px !important;
    height: 50px;
    border-radius: 10px;
    padding-left: 16px;
    padding-top: 15px;
    overflow: hidden;
    display: block;
  }
  .footer-mobile .footer-mobile-item .qr-logo {
    margin-left: 8px;
    margin-right: 8px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .footer-mobile .footer-mobile-item .qr-logo img {
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  }
}

/*madal */
.modal-body {
  padding: 0;
}

.modal-body img {
  width: 100%;
}

.modal-dialog {
  max-width: 650px;
}

.btn-close {
  width: 50px;
  height: 50px;
  background-image: url(../images/close.png);
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: -80px;
  cursor: pointer;
}

.product-item {
  padding: 30px;
}

.product-item .discount {
  font-size: 24px;
  font-weight: 700;
  color: #E92629;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-item .title {
  font-size: 24px;
  font-weight: 700;
  color: #008848;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.luu-y-box {
  background: #f2f9f6;
  border-radius: 10px;
  padding: 15px;
}

.luu-y-box .luu-y-title {
  color: #008848;
  padding-bottom: 15px;
  border-bottom: 1px solid #008848;
}

.luu-y-box .luu-y-dis {
  margin-top: 10px;
}

.luu-y-box .luu-y-dis li {
  color: #232323;
  padding-left: 0;
}

.muasam-box {
  background: #f2f2f2;
  padding: 30px;
}

.muasam-box .muasam-title {
  text-align: center;
  margin: 10px 0;
  color: #008848;
  font-weight: 700;
}

.muasam-box span {
  color: #008848;
}

.muasam-box input.incident-name {
  border: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  height: 50px;
  width: 100%;
  font-size: 14px;
  background: transparent;
  border-radius: 5px !important;
  margin-bottom: 20px;
}

.muasam-box select.incident-select {
  border: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  height: 50px;
  width: 100%;
  font-size: 14px;
  background: transparent;
  border-radius: 5px !important;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .modal-dialog {
    margin-top: 80px;
  }
  .btn-close {
    top: -70px;
    right: 0;
  }
  .footer-1 {
    padding: 10px 0;
    background: #4e9d47;
  }
  .footer-2 {
    text-align: center;
  }
  .footer-2 .copyright .block {
    display: block;
  }
  .footer-2 .social_footer {
    padding: 5px 0;
  }
  .footer-2 .lang-footer {
    text-align: center;
  }
}

#scrolltop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 44px;
  height: 40px;
  background-color: #008848;
  border-radius: 3px;
  line-height: 34px;
  color: #fff;
  z-index: 1000000;
  font-weight: bold;
  display: block;
  font-size: 30px;
  border: 1px solid #fff;
  text-align: center;
  overflow: hidden;
}

#scrolltop .icon {
  width: 18px;
  height: 10px;
  background-image: url(../images/icon-top.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.banner-slider {
  margin-top: 60px;
  overflow: hidden;
}

.banner-slider .slider.sanpham-detail-slider {
  width: 100%;
}

.outer-slide {
  position: relative;
}

.outer-slide > .tablink {
  position: absolute;
  left: 25px;
  top: 0;
  z-index: 999;
  cursor: pointer;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  width: 200px;
  height: 59px;
  border-radius: 10px 10px 0 0 !important;
  margin: 8px auto 0 auto;
  padding: 15px 0;
  text-align: center;
  background: white;
  color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  overflow: hidden;
  line-height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.outer-slide > .tablink i.icon-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.outer-slide > .tablink span {
  display: inline-block;
}

.banner-slider .slider.sanpham-category-slider {
  border-bottom: 3px solid #008848;
  margin-bottom: 50px;
  padding-left: 230px;
  padding-right: 20px;
}

.icon-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.icon-img img {
  width: 29px;
}

.icon-img .active {
  display: none;
}

.tablink .icon-img .normal {
  display: inline-block;
}

.tablink .icon-img .active {
  display: none;
}

.tablink.active .icon-img .active {
  display: inline-block;
}

.tablink.active .icon-img .normal {
  display: none;
}

.sanpham-category-slider .slick-slide .sanpham-cate-item {
  cursor: pointer;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  width: 200px;
  height: 59px;
  border-radius: 10px 10px 0 0 !important;
  margin: 8px auto 0 auto;
  padding: 15px 0;
  text-align: center;
  background: white;
  color: #bdbdbd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  overflow: hidden;
  line-height: 30px;
}

.sanpham-category-slider .slick-slide .sanpham-cate-item span {
  display: inline-block;
}

.sanpham-category-slider .slick-slide.tablink.active .sanpham-cate-item, .outer-slide > .tablink.active {
  padding: 18px 0;
  height: 63px;
  color: white !important;
  background: #008848 !important;
  margin-top: 4px;
}

.slick-slide:active,
.slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  border: 0;
  outline: 0;
}

.tablink.active .icon-all {
  background-image: url(../images/icon-tatca-active.png);
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item {
  text-transform: uppercase;
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item .icon-all {
  background-image: url(../images/icon-tatca-active.png);
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item .icon-food {
  background-image: url(../images/icon-food-active.png);
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item .icon-shop {
  background-image: url(../images/icon-shop-active.png);
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item .icon-travel {
  background-image: url(../images/icon-travel-active.png);
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item .icon-orther {
  background-image: url(../images/icon-orther-active.png);
}

.sanpham-category-slider .slick-slide.slick-current .sanpham-cate-item .sanpham-category-slider .slick-slide {
  text-align: center;
}

.sanpham-category-slider .slick-arrow {
  width: 15px !important;
  height: 30px !important;
  z-index: 99995 !important;
  background-color: transparent;
  border: 0;
  position: absolute;
}

.sanpham-category-slider .slick-prev {
  left: 0px !important;
  position: absolute;
}

.sanpham-category-slider .slick-next {
  right: 0px;
  position: absolute;
}

/* Slick Slider Arrows */
.sanpham-category-slider .slick-prev,
.sanpham-category-slider .slick-next {
  width: 15px !important;
  height: 30px !important;
  position: absolute;
  z-index: 99995;
}

.sanpham-category-slider .slick-prev:before {
  background-image: url("../images/arrow-left.png");
  background-size: 15px 30px;
  display: block;
  width: 15px;
  height: 30px;
  content: "";
}

.sanpham-category-slider .slick-next:before {
  background-image: url("../images/arrow-right.png");
  background-size: 15px 30px;
  display: block;
  width: 15px;
  height: 30px;
  content: "";
}

@media (max-width: 1280px) {
  .sanpham-category-slider .slick-slide .sanpham-cate-item {
    width: 170px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .outer-slide > .tablink span {
    display: none;
  }
  .banner-slider .slider.sanpham-category-slider {
    padding-left: 120px;
  }
  .outer-slide > .tablink {
    width: 70px;
  }
  .outer-slide > .tablink i.icon-img {
    margin-right: 0;
  }
  .icon-img {
    margin-right: 0;
  }
  .banner-slider {
    margin-top: 0px;
  }
  .banner-slider .slider.sanpham-category-slider {
    margin-bottom: 30px;
  }
  .sanpham-category-slider .slick-slide .sanpham-cate-item {
    width: 68px;
  }
  .sanpham-category-slider .slick-slide .sanpham-cate-item span {
    display: none;
  }
}

@media (max-width: 767px) {
  .banner-slider .slider.sanpham-category-slider {
    padding-left: 100px;
  }
  .outer-slide > .tablink {
    width: 70px;
  }
}

@media (max-width: 480px) {
  .banner-slider .slider.sanpham-category-slider {
    padding-left: 102px;
  }
  .outer-slide > .tablink {
    width: 68px;
  }
}

@media (max-width: 376px) {
  .banner-slider .slider.sanpham-category-slider {
    padding-left: 97px;
  }
  .outer-slide > .tablink {
    width: 68px;
  }
}

@media (max-width: 361px) {
  .banner-slider .slider.sanpham-category-slider {
    padding-left: 96px;
  }
  .outer-slide > .tablink {
    width: 68px;
  }
}
/*# sourceMappingURL=style.css.map */