@font-face {
    font-family: 'iciel_bon_vivantregular';
    src: url('../fonts/iCielBonVivant-Regular.eot');
    src: url('../fonts/iCielBonVivant-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/iCielBonVivant-Regular.svg#iCielBonVivant-Regular') format('svg'), url('../fonts/iCielBonVivant-Regular.ttf') format('truetype'), url('../fonts/iCielBonVivant-Regular.woff') format('woff'), url('../fonts/iCielBonVivant-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uvf_helvetica_neueregular';
    src: url('../fonts/UVFHelveticaNeue-Roman.eot');
    src: url('../fonts/UVFHelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/UVFHelveticaNeue-Roman.svg#UVFHelveticaNeue-Roman') format('svg'), url('../fonts/UVFHelveticaNeue-Roman.ttf') format('truetype'), url('../fonts/UVFHelveticaNeue-Roman.woff') format('woff'), url('../fonts/UVFHelveticaNeue-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,700;1,400;1,500;1,600;1,700;1,800;1,700&display=swap');
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1365px) {
    .container {
        max-width: 1258px;
    }
}

.myVideo-mobile {
    display: none;
}


/*page*/

.page {
    background: url(../img/bgd-fixed.jpg) top center no-repeat;
    background-attachment: fixed;
    background-color: #cfd1d2;
    background-size: cover;
    padding-top: 106px;
    transition: all .8s ease-in-out 0s;
    opacity: 0;
    letter-spacing: -1px;
}

.active .page {
    opacity: 1;
    z-index: 9;
    position: relative;
}


/*header*/

.header {
    padding: 25px 0 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: all .25s ease-in-out 0s;
}

.header.bg {
    background: url(../img/bgd-fixed.jpg) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header .container {
    display: flex;
}

.header .header_right {
    margin-left: auto;
    margin-top: 5px;
    display: flex;
}

.header .header_right span {
    font-size: 36px;
    font-weight: 700;
    color: #d5982a;
    font-style: italic;
    text-transform: uppercase;
    margin-right: 20px;
    transition: all .25s ease-in-out 0s;
}

.logo img {
    width: 400px;
    transition: all .25s ease-in-out 0s;
}

.header.small {
    padding-top: 15px;
}

.header.small .header_right span {
    font-size: 32px;
}

.header.small .logo img {
    width: 350px;
}

.header.small .header_right .menu span {
    height: 44px;
    width: 48px;
}

.score {
    position: absolute;
    left: 33px;
    top: -25px;
    font-weight: 700;
    font-style: italic;
    font-size: 42px;
    color: #d5982a;
    text-transform: uppercase;
}

.menu .dropdown-toggle {
    margin-top: 4px;
    width: 53px;
    height: 49px;
    background: url(../img/ham.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .25s ease-in-out 0s;
}

.menu:hover .dropdown-toggle,
.menu.show .dropdown-toggle {
    background-color: #006853;
}

.menu .dropdown-toggle::after {
    display: none;
}

.section h1 {
    width: 975px;
    height: 173px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/text-1.png) center no-repeat;
    margin: 0 auto;
}

.block-1 {
    background: url(../img/bgd-top.png) top center no-repeat;
    overflow: hidden;
    margin-top: -100px;
    background-size: contain;
}

.block-1 .inner {
    background: rgba(201, 215, 206, 0.9);
    margin-top: 186px;
    width: 100%;
    float: left;
}

.block-1 h2 {
    width: 85%;
    height: 109px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/text-2.png) center right no-repeat;
    margin: 0 auto;
    margin-top: -120px;
    margin-bottom: 35px;
    background-size: contain;
}

.block_row {
    display: flex;
    margin-bottom: 60px;
}

.art {
    padding: 0 100px;
    width: 50%;
    position: relative;
    padding-top: 140px;
}

.art .des {
    position: absolute;
    left: 100px;
    top: 0;
}

.art .outer-number {
    text-align: right;
}

.inner .block_row:nth-child(odd) .art .des {
    left: auto;
    right: 100px;
    text-align: right;
}

.inner .block_row:nth-child(odd) .art .outer-number {
    text-align: left;
}

.art .des strong {
    font-size: 34px;
    font-weight: 700;
    color: #006853;
    font-style: italic;
}

.art .des p {
    font-size: 30px;
    font-style: italic;
    line-height: 1.2;
    color: #006853;
}

.art .des p.inline {
    display: inline;
}

.inner .block_row:nth-child(2) .art:first-child {
    border-bottom: solid 3px #cf5c2a;
    border-left: solid 3px #cf5c2a;
    border-bottom-left-radius: 15px;
    /* border-top-left-radius: 12px; */
    margin-left: 70px;
    padding-left: 0;
    position: relative;
    width: 45%;
}

.inner .block_row:nth-child(2) .art:last-child {
    border-bottom: solid 3px #db7b28;
}

.inner .block_row:nth-child(3) .art:first-child {
    border-bottom: solid 3px #deb724;
}

.inner .block_row:nth-child(3) .art:last-child {
    border-bottom: solid 3px #03ab4f;
}

.inner .block_row:nth-child(4) .art:first-child {
    border-bottom: solid 3px #068146;
}

.inner .block_row:nth-child(4) .art:last-child {
    border-bottom: solid 3px #009785;
}

.inner .block_row:nth-child(5) .art:first-child {
    border-bottom: solid 3px #0682b5;
}

.inner .block_row:nth-child(5) .art:last-child {
    border-bottom: solid 3px #0662ae;
}

.inner .block_row:nth-child(6) .art:first-child {
    border-bottom: solid 3px #a36e50;
}

.inner .block_row:nth-child(6) .art:last-child {
    border-bottom: solid 3px #efc374;
    position: relative;
}

.inner .block_row:nth-child(6) .art:last-child:after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    content: "";
    height: 3px;
    background: rgb(163, 110, 80);
    background: linear-gradient(90deg, rgba(163, 110, 80, 1) 0%, rgba(249, 213, 119, 1) 41%, rgba(142, 99, 48, 1) 100%);
}

.inner .block_row:nth-child(6) .art:last-child .outer-number {
    margin-top: -23px;
}

.inner .block_row:nth-child(2) .art:first-child .des {
    left: 35px;
    top: 30px;
}

.inner .block_row:nth-child(2) .art:last-child .des {
    top: 30px;
}

.inner .block_row:nth-child(2) .art:first-child::after {
    position: absolute;
    left: -12px;
    top: -9px;
    height: 22px;
    width: 22px;
    content: "";
    background: #d4972a;
    border-radius: 50%;
}

.block-2 {
    position: relative;
    z-index: 2;
}

.block-2:after {
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
    background: #045755;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.box-get {
    display: flex;
}

.box-get img {
    width: 50%;
}

.art-right {
    text-align: right;
    width: 50%;
    padding-right: 80px;
    display: flex;
    align-items: center;
}

.art-right .in {
    width: 100%;
}

.art-right .in strong {
    font-size: 40px;
    color: #d5982a;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}

.art-right .in .customer {
    width: 518px;
    height: 71px;
    overflow: hidden;
    text-indent: 999px;
    background: url(../img/11.png) center right no-repeat;
    background-size: contain;
}

.art-right .in span {
    font-size: 31px;
    color: #aebfb1;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}

.row-1 {
    display: flex;
    padding: 0 45px;
}

.art-score {
    padding: 60px 20px;
    width: 50%;
}

.art-score .in {
    width: 527px;
    height: 109px;
    padding-right: 109px;
    display: flex;
    align-items: center;
    background-size: contain!important;
}

.art-score .in span {
    font-size: 31px;
    font-weight: 800;
    font-style: italic;
    color: #aebfb1;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    margin: auto;
    width: 1px;
    flex-grow: 1;
}

.art-score .in span strong {
    font-weight: 800;
}

.art-score-1 .in {
    background: url(../img/1.png) 0 0 no-repeat;
    /* background-size: contain; */
}

.art-score-2 .in {
    background: url(../img/2.png) 0 0 no-repeat;
    /* background-size: cover; */
}

.art-score-3 .in {
    background: url(../img/3.png) 0 0 no-repeat;
    /* background-size: cover; */
}

.art-score-4 .in {
    background: url(../img/3.png) 0 0 no-repeat;
    /* background-size: cover; */
}

.number-1 {
    width: 193px;
    height: 44px;
    background: url(../img/number-2.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: 999px;
}

.number-2 {
    width: 191px;
    height: 44px;
    background: url(../img/number-3.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: 999px;
}

.number-3 {
    width: 66px;
    height: 40px;
    background: url(../img/number-4.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: 999px;
}

.number-4 {
    width: 190px;
    height: 44px;
    background: url(../img/number-5.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: 999px;
}

@media (max-width: 1365px) {
    .block-1 .inner {
        margin-top: 168px;
    }
    .art .des p {
        font-size: 28px;
    }
    .art-right .in .customer {
        width: 100%;
    }
    .art-score .in {
        width: 100%;
    }
    .art-score .in span {
        background-size: contain;
    }
}

@media (max-width: 1199px) {
    .myVideo-mobile {
        display: block;
    }
    .myVideo-pc {
        display: none;
    }
    .score {
        font-size: 32px;
    }
    .art-score .in span {
        font-size: 20px;
    }
    .block-1 .inner {
        margin-top: 141px;
    }
    .art .des p {
        font-size: 25px;
        line-height: 1.2;
    }
    .art-right .in .customer {
        width: 100%;
    }
    .art-score .in {
        width: 100%;
        max-width: 527px;
        margin-left: auto;
        margin-right: auto;
    }
    .art-score .in span {
        background-size: contain;
    }
    .header .header_right>span {
        display: none;
    }
    .section h1 {
        width: 100%;
        background-size: contain;
    }
    .block-1 h2 {
        margin-top: -70px;
    }
    .inner .block_row:nth-child(2) .art:first-child::after {
        /* width: 85px; */
    }
    .art {
        padding-left: 50px;
        padding-right: 50px;
        /* padding-top: 170px; */
    }
    .art img {
        height: 80px;
    }
    .inner .block_row:nth-child(6) .art:last-child .outer-number img {
        height: 103px;
    }
}

@media (max-width: 991px) {
    .block-1 h2 {
        width: 60%;
        background-size: contain;
    }
    .block_row {
        display: block;
        margin-bottom: 0;
    }
    .art {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 180px;
    }
    .inner .block_row:nth-child(2) .art:first-child {
        width: 97.8%;
        margin-left: 15px;
        padding-right: 15px;
    }
    .art img {
        height: 100px;
    }
    .inner .block_row:nth-child(2) .art:last-child .des {
        top: 50px;
        left: auto;
        right: 15px;
        text-align: right;
    }
    .inner .block_row:nth-child(2) .art:last-child .outer-number {
        text-align: left;
    }
    .inner .block_row .art:first-child .des {
        top: 50px;
        left: 15px;
        right: auto;
        text-align: left;
    }
    .inner .block_row .art:first-child .outer-number {
        text-align: right;
    }
    .inner .block_row .art:last-child .des {
        top: 50px;
        left: auto;
        right: 15px;
        text-align: right;
    }
    .inner .block_row .art:last-child .outer-number {
        text-align: left;
    }
    .art .des strong,
    .art .des p {
        font-size: 22px;
    }
    .block-2 {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .box-get {
        display: block;
    }
    .box-get img {
        width: 100%;
    }
    .art-right {
        width: 100%;
        margin: 50px 0 25px 0;
        padding-right: 15px;
        padding-left: 15px;
    }
    .row-1 {
        display: block;
        padding: 0 15px;
    }
    .art-score {
        width: 100%;
        padding: 25px 0;
    }
    .block-1 .inner {
        margin-top: 104px;
    }
}

@media (max-width: 767px) {
    .header.small {
        padding-top: 5px;
    }
    .header.small .header_right span {
        font-size: 32px;
    }
    .header.small .logo img {
        width: 200px;
        margin-top: 10px;
    }
    .header.small .header_right .menu span {
        height: 39px;
        width: 43px;
    }
    .block-1 .inner {
        margin-top: 77px;
    }
    .logo img {
        width: 230px;
        margin-top: 15px;
    }
    .header {
        padding: 10px 0;
    }
    .header .header_right span {
        margin-right: 0;
    }
    .art-right .in strong {
        font-size: 30px;
    }
    .art-right .in span {
        font-size: 24px;
    }
    .page {
        padding-top: 78px;
    }
    .score {
        font-size: 28px;
        top: -15px;
    }
}

@media (max-width: 414px) {
    .score {
        font-size: 26px;
        left: 21px;
    }
    .block-1 .inner {
        margin-top: 58px;
    }
    .block-1 h2 {
        width: 80%;
        height: 90px;
        margin-top: -40px;
        margin-bottom: 17px;
    }
    .inner .block_row:nth-child(2) .art:first-child {
        width: 96%;
    }
    .art-right .in {
        padding-left: 15px;
    }
    .art-right .in .customer {
        height: 55px;
    }
    .art-score .in {
        background-size: auto!important;
        background-position: center right;
        display: block;
    }
    .art-score .in span {
        display: block;
        width: auto;
        text-align: left;
        margin-top: 20px;
    }
    .art-score .in span:first-child {
        width: auto;
        height: 40px;
    }
    .section h1 {
        margin-top: 30px;
        height: 107px;
        background: url(../img/text-3.png) center no-repeat;
    }
    .block-1 {
        margin-top: 0px;
    }
    .inner .block_row:nth-child(2) .art:first-child .des {
        left: 20px;
    }
    .menu .dropdown-toggle {
        width: 40px;
        height: 37px;
    }
    .header.small .logo img {
        margin-top: 5px;
    }
    .header.small .header_right .menu span {
        width: 38px;
        height: 35px;
    }
    .logo img {
        margin-top: 7px;
    }
    .header {
        padding-top: 5px;
        padding-bottom: 9px;
    }
    .header .header_right span {
        margin-top: 0;
    }
    .page {
        padding-top: 60px;
    }
}

@media (max-width: 375px) {
    .block-1 .inner {
        margin-top: 52px;
    }
}

@media (max-width: 360px) {
    .block-1 .inner {
        margin-top: 50px;
    }
}

@media (max-width: 320px) {
    .block-1 .inner {
        margin-top: 44px;
    }
}


/*tho them vao*/

.dropdown-menu {
    color: #d5982a;
    background-color: rgba(0, 104, 83, 0.9)!important;
    background-clip: padding-box;
    border: none!important;
    border-radius: 0!important;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #d5982a;
    text-transform: uppercase;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:hover {
    color: #db7b28;
    text-decoration: none;
    background-color: #006853;
}

.video-box {
    display: block !important;
    padding-top: 30PX;
    padding-bottom: 30px;
}

.video-title {
    font-size: 40px;
    color: #d5982a;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
}

.fluid-width-video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.fluid-width-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .video-box {
        padding-bottom: 0px;
    }
    .video-title {
        font-size: 30px;
    }
}