@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ddd;
    font-size: 14px;
    font-weight: 500;
}

.mc-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 12;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    animation: zoominoutsinglefeatured 2s linear infinite;
}

#divLoading {
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background: #fff;
    position: fixed;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        overflow: 1;
    }
}

@media (min-width: 1365px) {
    .container {
        max-width: 1258px;
    }
}


/*page*/

.slide-top .banner-m {
    display: none!important;
}

.slick-next {
    z-index: 999;
    width: 65px;
    height: 65px;
    background: url(../img/activities/next.png) 0 0 no-repeat!important;
    right: 4%;
    opacity: 1;
    background-size: contain;
}

.slick-prev {
    z-index: 999;
    width: 65px;
    height: 65px;
    background: url(../img/activities/prev.png) 0 0 no-repeat!important;
    left: 4%;
    opacity: 1;
    background-size: contain;
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

.slick-next:hover {
    opacity: 1;
    background: url(../img/next.png) 0 0 no-repeat;
}

.slick-prev:hover {
    opacity: 1;
    background: url(../img/prev.png) 0 0 no-repeat;
}


/*header*/

.header {
    padding: 15px 0 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: all .25s ease-in-out 0s;
}

.header.bg {
    background: url(../img/bgd-fixed.jpg) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header .container {
    display: flex;
}

.header .header_right {
    margin-left: auto;
    margin-top: 5px;
    display: flex;
}

.header .header_right span {
    font-size: 36px;
    font-weight: 700;
    color: #d5982a;
    font-style: italic;
    text-transform: uppercase;
    margin-right: 20px;
    transition: all .25s ease-in-out 0s;
}

.logo img {
    width: 400px;
    transition: all .25s ease-in-out 0s;
}

.header.small {
    padding-top: 15px;
}

.header.small .header_right span {
    font-size: 32px;
}

.header.small .logo img {
    width: 350px;
}

.header.small .header_right .menu span {
    height: 44px;
    width: 48px;
}

.menu .dropdown-toggle {
    margin-top: 4px;
    width: 53px;
    height: 49px;
    background: url(../img/ham.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .25s ease-in-out 0s;
}

.menu:hover .dropdown-toggle,
.menu.show .dropdown-toggle {
    background-color: #006853;
}

.menu .dropdown-toggle::after {
    display: none;
}


/*slide-top*/

.slide-top {
    width: 100%;
    overflow: hidden;
}

.slide-top .slick-slide a {
    display: block;
}

.slide-top .slick-slide a img {
    display: block;
    width: 100%;
}


/*main*/

.main {
    padding: 80px 0;
}


/*title-s*/

.title-s {
    max-width: 670px;
    width: 100%;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #006853;
}

.title-s h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 900;
    line-height: 1.25;
}

.title-s p {
    font-size: 16px;
    margin-bottom: 0;
}


/*section-top*/

.section-top {
    display: flex;
    margin-bottom: 35px;
}

.section-top .sidebar-datepicker {
    padding: 40px 60px;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    width: 570px;
    margin-right: 30px;
}

.section-top .sidebar-datepicker h5 {
    font-size: 24px;
    font-weight: 700;
    color: #006853;
    margin-bottom: 10px;
}

.section-top .sidebar-datepicker ul.list-event {
    padding-left: 0;
}

.section-top .sidebar-datepicker ul.list-event li {
    margin: 6px 0;
    list-style: none;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
}

.section-top .sidebar-datepicker ul.list-event li a {
    color: #333;
}

.section-top .sidebar-datepicker ul.list-event li:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #006853;
    position: absolute;
    left: 0;
    top: 6px;
}

.section-top .content {
    padding: 45px 0;
    background: #cad8ce;
    border-radius: 10px;
    flex-grow: 1;
    width: 1px;
}

.section-top .content h2 {
    font-size: 36px;
    color: #e2a525;
    margin-bottom: 40px;
    font-weight: 800;
    margin-left: 40px;
    font-style: italic;
}

.sidebar-datepicker .table-condensed {
    width: 100%;
}


/*box*/

.box {
    padding: 0 0 0 30px;
    position: relative;
}

.box-1 {
    padding-bottom: 40px;
}

.box-1 .art {
    border-left: 2px solid #deb725;
    border-bottom: 2px solid #deb725;
    padding-left: 90px;
    padding-bottom: 30px;
    border-bottom-left-radius: 20px;
}

.box-1 .art:after {
    position: absolute;
    left: -12px;
    top: -9px;
    height: 22px;
    width: 22px;
    content: "";
    background: #deb725;
    border-radius: 50%;
}

.box-1 .art:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 50%;
    content: "";
    background: #d3aa7b;
}

.box-1 .art .number {
    left: 15px;
    bottom: -17px;
    line-height: 1;
}

.box-2 {
    padding: 0 0 40px 0;
}

.box-2 .art {
    border-bottom: 2px solid #d3aa7b;
    padding: 0 100px 30px 30px;
}

.box-2 .art .number {
    right: 30px;
    bottom: -17px;
    line-height: 1;
}

.box-2 .art:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 50%;
    content: "";
    background: #65a090;
}

.box-3 {
    padding: 0;
}

.box-3 .art {
    border-bottom: 2px solid #65a090;
    padding: 0 0px 30px 122px;
}

.box-3 .art:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 50%;
    content: "";
    background: #65a090;
}

.box-3 .art .number {
    left: 35px;
    bottom: -17px;
    line-height: 1;
}

.art {
    display: flex;
    position: relative;
}

.art .des {
    padding-left: 30px;
    flex-grow: 1;
}

.art .number {
    font-size: 120px;
    font-weight: 800;
    color: #006853;
    position: absolute;
}

.art .des p {
    margin-bottom: 0;
    font-style: italic;
}

.art .des .hot a {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #fff;
    font-style: italic;
    background: #009885;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.art .des .hot a:hover {
    text-decoration: none;
}

.art .des h3 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 15px;
}

.art .des h3 a {
    color: #006853;
}

.art .des .hot span {
    color: #666;
    font-style: italic;
    vertical-align: middle;
    display: inline-block;
}

.art .thumb {
    width: 181px;
}

.art .thumb img {
    border-radius: 10px;
}

.border-1 {
    margin: 40px -20px;
    border-top: 2px solid #d6e7e3;
    display: block;
}

.header.bg {
    background-image: linear-gradient(to right, #010e34, #002c4e, #00485a, #00635a, #467b55);
    z-index: 9999;
}


/*art-new*/

.art-new .des {
    padding: 20px;
    background: #fff;
}

.art-new .des .cat {
    text-transform: uppercase;
    text-decoration: none;
    color: #006853;
    display: block;
}

.art-new img {
    width: 100%;
}

.art-new .des h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.art-new .des P {
    margin-bottom: 0;
    color: #777;
}

.art-new .des h3 a {
    color: #333;
}

.art-new .des h3 a:hover {}

.datepicker table tr td.active.day.activeClass {
    position: relative;
}
.datepicker table tr td.active.day.activeClass:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00963e;
    border-radius: 50%;
}


@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px) {
    .section-top .sidebar-datepicker {
        width: 400px;
    }
    .datepicker table tr td, .datepicker table tr th {
        height: 39px;
    }
}

@media (max-width: 1199px) {
    .header .header_right>span {
        display: none;
    }
    .section-top {
        display: block;
    }
    .section-top .sidebar-datepicker {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .section-top .content {
        width: 100%;
    }
    .section-new .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    .datepicker table tr td, .datepicker table tr th {
        height: 114px;
    }
}

@media (max-width: 991px) {
    .slide-top img {
        display: none!important;
    }
    .slide-top img.banner-m {
        display: block!important;
    }
    .datepicker table tr td, .datepicker table tr th {
        height: 80px;
    }
}

@media (max-width: 767px) {
    .datepicker table tr td, .datepicker table tr th {
        height: 55px;
    }
    .box-3 .art {
        padding-left: 118px;
    }
    .box-1 .art {
        padding-left: 82px;
    }
    .section-new .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-2 .art {
        padding-left: 15px;
    }
    .art .des .hot a {
        margin-bottom: 10px;
    }
    .hot {
        padding-top: 8px;
    }
    .art .des h3 {
        margin-bottom: 5px;
    }
    .art {
        display: block;
        padding: 0 15px;
    }
    .art .thumb {
        width: 100%;
        display: block;
    }
    .art .thumb img {
        width: 100%;
    }
    .art .des {
        padding: 0;
    }
    .title-s {
        margin-bottom: 40px;
    }
    .title-s h1 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .main {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .header.small {
        padding-top: 5px;
    }
    .header.small .header_right span {
        font-size: 32px;
    }
    .header.small .logo img {
        width: 200px;
        margin-top: 10px;
    }
    .header.small .header_right .menu span {
        height: 39px;
        width: 43px;
    }
    .logo img {
        width: 230px;
        margin-top: 15px;
    }
    .header {
        padding: 10px 0;
    }
    .header .header_right span {
        margin-right: 0;
        border-radius: 10px;
    }
    .slick-next,
    .slick-prev {
        width: 40px;
        height: 40px;
        background-size: contain!important;
    }
}

@media (max-width: 414px) {
    .section-top .sidebar-datepicker {
        padding: 30px;
    }
    .border-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .datepicker table tr td,
    .datepicker table tr th {
        height: 46px;
        font-size: 14px;
    }
    .menu .dropdown-toggle {
        width: 40px;
        height: 37px;
    }
    .header.small .logo img {
        margin-top: 5px;
    }
    .header.small .header_right .menu span {
        width: 38px;
        height: 35px;
    }
    .logo img {
        margin-top: 7px;
    }
    .header {
        padding-top: 5px;
        padding-bottom: 9px;
    }
    .header .header_right span {
        margin-top: 0;
    }
}

@media (max-width: 375px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 40px;
       
    }
}

@media (max-width: 360px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 38px;
       
    }
}

@media (max-width: 320px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 32px;
       
    }
}


/*tho them vao*/

.dropdown-menu {
    color: #d5982a;
    background-color: rgba(0, 104, 83, 0.9)!important;
    background-clip: padding-box;
    border: none!important;
    border-radius: 0px!important;
}

.header .header_right span {
    border-radius: 10px!important;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #d5982a;
    text-transform: uppercase;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:hover {
    color: #db7b28;
    text-decoration: none;
    background-color: #006853;
}