@font-face {
  font-family: "VPBank";
  src: url("../fonts/VPBank.eot");
  src: url("../fonts/VPBank.eot?#iefix") format("embedded-opentype"), url("../fonts/VPBank.woff2") format("woff2"), url("../fonts/VPBank.woff") format("woff"), url("../fonts/VPBank.ttf") format("truetype"), url("../fonts/VPBank.svg#VPBank") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Nexa";
  src: url("../fonts/SVN-NexaHeavy.eot");
  src: url("../fonts/SVN-NexaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-NexaHeavy.woff2") format("woff2"), url("../fonts/SVN-NexaHeavy.woff") format("woff"), url("../fonts/SVN-NexaHeavy.ttf") format("truetype"), url("../fonts/SVN-NexaHeavy.svg#SVN-NexaHeavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VPBank";
  src: url("../fonts/VPBank-Bold.eot");
  src: url("../fonts/VPBank-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/VPBank-Bold.woff2") format("woff2"), url("../fonts/VPBank-Bold.woff") format("woff"), url("../fonts/VPBank-Bold.ttf") format("truetype"), url("../fonts/VPBank-Bold.svg#VPBank-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*reset css*/
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.slider {
  overflow: hidden;
  position: relative;
  max-width: 100vw;
  display: block;
}

.slider--item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider-item {
  width: 100vw;
}

.slider-item .img-fill {
  width: 100%;
}

.slider-item .img-fill img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider-item .img-fill img.big {
  display: block;
}

.slider-item .img-fill img.small {
  display: none;
}

.slider-item .video-fill {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 0;
  padding-bottom: 30.95%;
}

.slider-item .video-fill .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 9;
  background: url(../img/btn-play.png) 0 0 no-repeat;
  background-size: cover;
  cursor: ponter;
}

.slider-item .video-fill .btn-play:hover {
  opacity: 0.8;
}

.slider-item .video-fill video {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-item .video-fill li {
  display: none;
}

.slider-item .slide-fill {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 30.95%;
}

.slider-item .slide-fill .swiper-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-item .slide-fill .swiper-wrapper {
  position: relative;
}

.slider-item .slide-fill .swiper-wrapper img {
  width: 100%;
}

.slider-item .slide-fill .swiper-wrapper img.big {
  display: block;
}

.slider-item .slide-fill .swiper-wrapper img.small {
  display: none;
}

.slider-item .slide-fill .swiper-pagination-bullets {
  right: 2%;
}

.slider-item .slide-fill .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #0f6b42;
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 20vh;
}

.slider-thumb .thumb {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider-thumb .thumb:focus {
  outline: none;
}

.slider-thumb .thumb.slick-current {
  background: #effff6;
}

.slider-thumb .thumb.slick-current img {
  width: 100% !important;
  background: #effff6 !important;
  margin: auto;
  position: static !important;
}

.slider-thumb .thumb.is-active img {
  width: 100%;
}

.slider-thumb .thumb.slick-active {
  height: 25vh;
}

.slider-thumb .thumb.slick-active img {
  height: 80%;
  background: #fff;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0;
}

.slider-thumb .thumb.slick-current {
  position: absolute;
  right: 0;
  top: 0;
}

.slider-thumb .thumb img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider-left {
  width: 75%;
  bottom: 0;
  position: absolute;
  left: 0;
}

.slider-right {
  width: 25%;
  height: 25vh;
  bottom: 0;
  position: absolute;
  right: 0;
}

.slider-right .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25vh;
}

.slider-right .content--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
}

.slider-right .content--btn .btn {
  width: 50px;
  background: #119158;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-right .content--btn .btn:focus {
  outline: none;
}

.slider-right .content--btn .btn:hover, .slider-right .content--btn .btn:active {
  background: #137d4e;
}

.slider-right .content--btn .btn.slick-disabled {
  background: #0f6b42;
}

.slider-right .content--btn .btn img {
  margin: auto;
}

.slider-right .content--info {
  height: 100%;
  background: #139058;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.slider-right .content--info p {
  padding: 0;
  margin: 0;
}

.slider-right .content--info .title {
  font-family: "SVN-Nexa";
  font-size: 24px;
  margin-bottom: 10px;
}

.slider-right .content--info .des {
  font-size: 15px;
  line-height: 23px;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

@media screen and (max-width: 900px) {
  .slider-left,
  .slider-right {
    width: 50%;
  }
  .slider-left {
    width: 50%;
  }
  .slider-right {
    width: 50%;
  }
  .slider-thumb .thumb img,
  .slider-nav {
    background-color: #effff6;
  }
  .slider-right .content--info .des {
    font-size: 12px;
  }
  .slider-right .content--info .title {
    font-size: 14px;
  }
  .slider-thumb .thumb img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
  .slider-thumb .thumb.slick-current {
    position: static;
  }
  .slider-item .img-fill img.big,
  .slider-item .slide-fill .swiper-wrapper img.big {
    display: none;
  }
  .slider-item .img-fill img.small,
  .slider-item .slide-fill .swiper-wrapper img.small {
    display: block;
  }
  .slider-item .slide-fill,
  .slider-item .video-fill {
    padding-bottom: 73.68%;
  }
}
/*# sourceMappingURL=slide.css.map */