@font-face {
    font-family: "VPBank";
    src: url("../fonts/VPBank.eot");
    src: url("../fonts/VPBank.eot?#iefix") format("embedded-opentype"), url("../fonts/VPBank.woff2") format("woff2"), url("../fonts/VPBank.woff") format("woff"), url("../fonts/VPBank.ttf") format("truetype"), url("../fonts/VPBank.svg#VPBank") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SVN-Nexa";
    src: url("../fonts/SVN-NexaHeavy.eot");
    src: url("../fonts/SVN-NexaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-NexaHeavy.woff2") format("woff2"), url("../fonts/SVN-NexaHeavy.woff") format("woff"), url("../fonts/SVN-NexaHeavy.ttf") format("truetype"), url("../fonts/SVN-NexaHeavy.svg#SVN-NexaHeavy") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VPBank";
    src: url("../fonts/VPBank-Bold.eot");
    src: url("../fonts/VPBank-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/VPBank-Bold.woff2") format("woff2"), url("../fonts/VPBank-Bold.woff") format("woff"), url("../fonts/VPBank-Bold.ttf") format("truetype"), url("../fonts/VPBank-Bold.svg#VPBank-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*reset css*/

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.slider {
    overflow: hidden;
    position: relative;
    max-width: 100vw;
    display: block;
    &--item {
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    &-item {
        width: 100vw;
        .img-fill {
            width: 100%;
            img {
                object-fit: cover;
                width: 100%;
                &.big {
                    display: block;
                }
                &.small {
                    display: none;
                }
            }
        }
        .video-fill {
            background: #000;
            display: flex;
            position: relative;
            height: 0;
            padding-bottom: 30.95%;
            .btn-play {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100px;
                height: 100px;
                margin-top: -50px;
                margin-left: -50px;
                z-index: 9;
                background: url(../img/btn-play.png) 0 0 no-repeat;
                background-size: cover;
                cursor: ponter;
                &:hover {
                    opacity: 0.8;
                }
            }
            video {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            li {
                display: none;
            }
        }
        .slide-fill {
            width: 100%;
            height: 0;
            position: relative;
            padding-bottom: 30.95%;
            .swiper-container {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            .swiper-wrapper {
                position: relative;
                img {
                    width: 100%;
                    &.big {
                        display: block;
                    }
                    &.small {
                        display: none;
                    }
                }
            }
            .swiper-pagination-bullets {
                right: 2%;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background: #0f6b42;
                }
            }
        }
    }
    &-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 20vh;
    }
    &-thumb {
        .thumb {
            cursor: pointer;
            &:focus {
                outline: none;
            }
            display: flex;
            position: relative;
            &.slick-current {
                background: #effff6;
                img {
                    width: 100% !important;
                    background: #effff6 !important;
                    margin: auto;
                    position: static !important;
                }
            }
            &.is-active {
                img {
                    width: 100%;
                }
            }
            &.slick-active {
                height: 25vh;
                img {
                    height: 80%;
                    background: #fff;
                    object-fit: contain;
                    position: absolute;
                    bottom: 0;
                }
            }
            &.slick-current {
                position: absolute;
                right: 0;
                top: 0;
            }
            img {
                margin: auto;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    &-left {
        width: 75%;
        bottom: 0;
        position: absolute;
        left: 0;
    }
    &-right {
        width: 25%;
        height: 25vh;
        bottom: 0;
        position: absolute;
        right: 0;
        .content {
            display: flex;
            flex-direction: column;
            height: 25vh;
            &--btn {
                display: flex;
                height: 5vh;
                .btn {
                    width: 50px;
                    background: #119158;
                    &:focus {
                        outline: none;
                    }
                    &:hover,
                    &:active {
                        background: #137d4e;
                    }
                    &.slick-disabled {
                        background: #0f6b42;
                    }
                    img {
                        margin: auto;
                    }
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }
            }
            &--info {
                height: 100%;
                background: #139058;
                padding: 0 25px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                color: #fff;
                p {
                    padding: 0;
                    margin: 0;
                }
                .title {
                    font-family: "SVN-Nexa";
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                .des {
                    font-size: 15px;
                    line-height: 23px;
                    box-orient: vertical;
                    -moz-box-orient: vertical;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .slider-left,
    .slider-right {
        width: 50%;
    }
    .slider-left {
        width: 50%;
    }
    .slider-right {
        width: 50%;
    }
    .slider-thumb .thumb img,
    .slider-nav {
        background-color: #effff6;
    }
    .slider-thumb .thumb {
        
    }
    .slider-right .content--info .des {
        font-size: 12px;
    }
    .slider-right .content--info .title {
        font-size: 14px;
    }
    .slider-thumb .thumb img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
    .slider-thumb .thumb.slick-current {
        position: static;
    }
    .slider-item .img-fill img.big,
    .slider-item .slide-fill .swiper-wrapper img.big {
        display: none;
    }
    .slider-item .img-fill img.small,
    .slider-item .slide-fill .swiper-wrapper img.small {
        display: block;
    }
    .slider-item .slide-fill,
    .slider-item .video-fill {
        padding-bottom: 73.68%;
    }
}