@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ddd;
    font-size: 14px;
    font-weight: 500;
}

.mc-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 12;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    animation: zoominoutsinglefeatured 2s linear infinite;
}

body.bgd-w {
    background: #fff;
}

#divLoading {
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background: #fff;
    position: fixed;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        overflow: 1;
    }
}

@media (min-width: 1365px) {
    .container {
        max-width: 1258px;
    }
}


/*page*/

.slide-top .banner-m {
    display: none!important;
}

.slick-next {
    z-index: 999;
    width: 65px;
    height: 65px;
    background: url(../img/activities/next.png) 0 0 no-repeat!important;
    right: 4%;
    opacity: 1;
    background-size: contain;
}

.slick-prev {
    z-index: 999;
    width: 65px;
    height: 65px;
    background: url(../img/activities/prev.png) 0 0 no-repeat!important;
    left: 4%;
    opacity: 1;
    background-size: contain;
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

.slick-next:hover {
    opacity: 1;
    background: url(../img/next.png) 0 0 no-repeat;
}

.slick-prev:hover {
    opacity: 1;
    background: url(../img/prev.png) 0 0 no-repeat;
}


/*header*/

.header {
    padding: 15px 0 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: all .25s ease-in-out 0s;
}

.header.bg {
    background: url(../img/bgd-fixed.jpg) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header .container {
    display: flex;
}

.header .header_right {
    margin-left: auto;
    margin-top: 5px;
    display: flex;
}

.header .header_right span {
    font-size: 36px;
    font-weight: 700;
    color: #d5982a;
    font-style: italic;
    text-transform: uppercase;
    margin-right: 20px;
    transition: all .25s ease-in-out 0s;
}

.logo img {
    width: 400px;
    transition: all .25s ease-in-out 0s;
}

.header.small {
    padding-top: 15px;
}

.header.small .header_right span {
    font-size: 32px;
}

.header.small .logo img {
    width: 350px;
}

.header.small .header_right .menu span {
    height: 44px;
    width: 48px;
}

.menu .dropdown-toggle {
    margin-top: 4px;
    width: 53px;
    height: 49px;
    background: url(../img/ham.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .25s ease-in-out 0s;
}

.menu:hover .dropdown-toggle,
.menu.show .dropdown-toggle {
    background-color: #006853;
}

.menu .dropdown-toggle::after {
    display: none;
}


/*slide-top*/

.slide-top {
    width: 100%;
    overflow: hidden;
}

.slide-top .slick-slide img {
    display: block;
}

.slide-top .slick-slide img {
    display: block;
    width: 100%;
}


/*main*/

.main {
    padding: 80px 0;
}


/*title-s*/

.title-s {
    max-width: 670px;
    width: 100%;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #006853;
}

.title-s h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;
}

.title-b {
    max-width: 900px;
}

.title-s p {
    font-size: 16px;
    margin-bottom: 0;
}

.title-s p i {
    font-size: 15px;
}


/*section-top*/

.section-top {
    display: flex;
    margin-bottom: 35px;
}

.section-top .sidebar-datepicker {
    padding: 40px 60px;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    width: 570px;
    margin-right: 30px;
}

.section-top .sidebar-datepicker h5 {
    font-size: 24px;
    font-weight: 700;
    color: #006853;
    margin-bottom: 10px;
}

.section-top .sidebar-datepicker ul.list-event {
    padding-left: 0;
}

.section-top .sidebar-datepicker ul.list-event li {
    margin: 6px 0;
    list-style: none;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
}

.section-top .sidebar-datepicker ul.list-event li a {
    color: #333;
}

.section-top .sidebar-datepicker ul.list-event li:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #006853;
    position: absolute;
    left: 0;
    top: 6px;
}

.section-top .content {
    padding: 45px 0;
    background: #cad8ce;
    border-radius: 10px;
    flex-grow: 1;
    width: 1px;
}

.section-top .content h2 {
    font-size: 36px;
    color: #e2a525;
    margin-bottom: 40px;
    font-weight: 800;
    margin-left: 40px;
    font-style: italic;
}

.sidebar-datepicker .table-condensed {
    width: 100%;
}


/*box*/

.box {
    padding: 0 0 0 30px;
    position: relative;
}

.box-1 {
    padding-bottom: 40px;
}

.box-1 .art {
    border-left: 2px solid #deb725;
    border-bottom: 2px solid #deb725;
    padding-left: 90px;
    padding-bottom: 30px;
    border-bottom-left-radius: 20px;
}

.box-1 .art:after {
    position: absolute;
    left: -12px;
    top: -9px;
    height: 22px;
    width: 22px;
    content: "";
    background: #deb725;
    border-radius: 50%;
}

.box-1 .art:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 50%;
    content: "";
    background: #d3aa7b;
}

.box-1 .art .number {
    left: 15px;
    bottom: -17px;
    line-height: 1;
}

.box-2 {
    padding: 0 0 40px 0;
}

.box-2 .art {
    border-bottom: 2px solid #d3aa7b;
    padding: 0 100px 30px 30px;
}

.box-2 .art .number {
    right: 30px;
    bottom: -17px;
    line-height: 1;
}

.box-2 .art:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 50%;
    content: "";
    background: #65a090;
}

.box-3 {
    padding: 0;
}

.box-3 .art {
    border-bottom: 2px solid #65a090;
    padding: 0 0px 30px 122px;
}

.box-3 .art:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 50%;
    content: "";
    background: #65a090;
}

.box-3 .art .number {
    left: 35px;
    bottom: -17px;
    line-height: 1;
}

.art {
    display: flex;
    position: relative;
}

.art .des {
    padding-left: 30px;
    flex-grow: 1;
}

.art .number {
    font-size: 120px;
    font-weight: 800;
    color: #006853;
    position: absolute;
}

.art .des p {
    margin-bottom: 0;
    font-style: italic;
}

.art .des .hot a {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #fff;
    font-style: italic;
    background: #009885;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.art .des .hot a:hover {
    text-decoration: none;
}

.art .des h3 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 15px;
}

.art .des h3 a {
    color: #006853;
}

.art .des .hot span {
    color: #666;
    font-style: italic;
    vertical-align: middle;
    display: inline-block;
}

.art .thumb {
    width: 181px;
}

.art .thumb img {
    border-radius: 10px;
}

.border-1 {
    margin: 40px -20px;
    border-top: 2px solid #d6e7e3;
    display: block;
}

.header.bg {
    background-image: linear-gradient(to right, #010e34, #002c4e, #00485a, #00635a, #467b55);
    z-index: 9999;
}

.btn-more {
    display: inline-block;
    font-size: 18px;
    color: #006853;
    height: 46px;
    line-height: 46px;
    padding: 0 25px;
    border: 1px solid #006853;
}

.icon-more {
    width: 7px;
    height: 11px;
    background: url(../img/news/icon-more.png) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.btn-more:hover {
    color: #006853;
    text-decoration: none;
}


/* section-new*/

.section-new .row .col-lg-6,
.section-new .row .col-lg-4 {
    margin-bottom: 30px;
}


/*art-new*/

.art-new {
    height: 100%;
    background: #fff;
}

.art-new .des {
    padding: 30px;
    background: #fff;
}

.art-new .des .cat {
    /* text-transform: uppercase; */
    text-decoration: none;
    color: #006853;
    display: block;
    font-size: 20px;
    margin: 10px 0 15px 0;
}

.art-new img {
    width: 100%;
}

.art-new .des h3 {
    margin: 15px 0 25px 0;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}

.art-new .des P {
    margin-bottom: 0;
    color: #000;
    font-size: 16px;
}

.art-new .des h3 a {
    color: #000;
}

.art-new .des h3 a:hover {}

.datepicker table tr td.day.activeClass {
    position: relative;
}

.datepicker table tr td.day.activeClass:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00963e;
    border-radius: 50%;
}


/*customer*/


/*grid*/

.grid {
    display: grid;
    width: 100%;
    grid-auto-flow: dense;
}

.grid-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 330px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grid-item.num-row-1 {
    grid-row-end: span 1;
}

.grid-item.num-row-2 {
    grid-row-end: span 2;
}

.grid-item.num-row-3 {
    grid-row-end: span 3;
}

.grid-item.num-row-4 {
    grid-row-end: span 4;
}

.grid-item.num-row-5 {
    grid-row-end: span 5;
}

.grid-item.num-row-6 {
    grid-row-end: span 6;
}

.grid-item.num-col-3 {
    grid-column-end: span 3;
}

.grid-item.num-col-4 {
    grid-column-end: span 4;
}

.grid-item.num-col-5 {
    grid-column-end: span 5;
}

.grid-item.num-col-6 {
    grid-column-end: span 6;
}

.grid-item.num-col-7 {
    grid-column-end: span 7;
}

.grid-item.num-col-8 {
    grid-column-end: span 8;
}

.grid-item.order-col-1 {
    grid-column-start: 1;
}

.grid-item.order-col-2 {
    grid-column-start: 2;
}

.grid-item.order-col-3 {
    grid-column-start: 3;
}

.grid-item.order-col-4 {
    grid-column-start: 4;
}

.grid-item.order-col-5 {
    grid-column-start: 5;
}

.grid-item.order-col-6 {
    grid-column-start: 6;
}


/*art-story*/

.icon-quote {
    position: absolute;
    left: 20px;
    top: 43px;
    width: 54px;
    height: 40px;
    background: url(../img/story/icon-quote.png) 0 0 no-repeat;
}

.art-story {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.art-story .thumb {
    width: 100%;
    height: 100%;
    display: block;
}

.art-story .thumb img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.art-story .des-story {
    width: 100%;
    /* display: none; */
    font-style: italic;
    font-size: 18px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 130px 20px 30px 20px;
    z-index: 2;
}

.art-story .des-story:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(12, 79, 78, 0.8);
    /* background-size: cover!important; */
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.hover .art-story .des-story {
    display: block;
}

.art-story .des-story .author {
    font-size: 14px;
    text-align: right;
}

.art-story .des-story .author strong {
    display: block;
    text-transform: uppercase;
}


/*custom slide*/

.slide-top .item {
    cursor: pointer;
}

.slide-top .item>div {
    width: 100%;
    height: 0;
    padding-bottom: 31%;
}

.slide-top .item:focus {
    outline: none;
    border: 0;
}

.slide-top .item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-top .item.video {
    background: #000;
}

.slide-top .item.video video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide-top .btn-plays {
    width: 100px;
    height: 100px;
    background: url(../img/customer/play-button--circle.png) center no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-bottom: -50px;
}


/*content-1*/

.content-1 {
    font-size: 16px;
    color: #444444;
    padding: 30px 30px 120px 30px;
    background: #cad8ce;
    border-radius: 20px;
    font-style: italic;
}

.content-1 h2 {
    font-size: 48px;
    margin-bottom: 50px;
    margin-top: 15px;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #006853;
    font-style: normal;
}

.intro p {
    margin-bottom: 5px;
    font-style: italic;
}

.intro p strong {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

.outer-box {
    margin-top: 40px;
    /* padding-left: 40px; */
    display: flex;
    border-left: 3px solid #cf5c2a;
    border-bottom: 3px solid #cf5c2a;
    border-bottom-left-radius: 20px;
    /* width: 98%; */
    /* float: right; */
    /* clear: both; */
    margin-left: 50px;
    position: relative;
    margin-bottom: 40px;
}

.outer-box::after {
    content: "";
    width: 20px;
    height: 20px;
    background: #deb725;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: -12px;
}

.outer-box .box-step {
    padding: 0 15px;
}

.outer-box .box-step:first-child {
    padding-left: 35px;
}

.box-step {
    font-style: italic;
}

.box-step h3 i {
    display: inline-block;
    text-align: right;
    font-size: 30px;
    color: #00635a;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
}

.box-step h3 span {
    display: inline-block;
    font-size: 74px;
    font-weight: 900;
    color: #deb725;
}

.box-reward-1 {
    padding-bottom: 20px;
    border-bottom: 3px solid #e2a525;
}

.outer-reward h4 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 15px;
}

.box-reward-1 h5 {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 25px;
}

.box-reward-1 h5 strong {
    font-weight: 900;
    color: #00635a;
    font-size: 16px;
}

.d-flex {
    display: flex;
    padding-left: 50px;
}

.d-flex .box-reward-1:first-child {
    max-width: 65%;
    flex: 0 0 65%;
}

.d-flex .box-reward-1:last-child h5 {
    margin-left: 30px;
}

.d-flex .box-reward-1:last-child .art-reward {
    max-width: 100%;
    flex: 0 0 100%;
}

.d-flex .box-reward-1:last-child .art-reward>div:first-child {
    text-align: left;
    max-width: 60%;
    flex: 0 0 60%;
}

.btn-xem {
    color: #00635a;
    display: inline-block;
    margin-left: 5px;
}

.d-flex-1 {
    display: flex;
}

.outer-reward {
    margin-bottom: 50px;
}

.art-reward {
    display: flex;
    max-width: 33.3333%;
    width: 100%;
    margin-left: 35px;
}

.d-flex-1 .art-reward:first-child {
    margin-left: 0;
}

.art-reward div:first-child {
    text-align: right;
    padding-right: 15px;
}

.art-reward div strong {
    display: block;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hightlight {
    clip-path: polygon(0 140px, 100% 0, 100% 100%, 0% 100%);
    position: relative;
    z-index: 2;
    background: #045856;
    margin-top: -160px;
    padding-top: 160px;
    padding-bottom: 50px;
}

.hightlight h2 {
    font-size: 48px;
    margin-bottom: 50px;
    margin-top: 15px;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.block-join h3 {
    margin-bottom: 30px;
}

.btn-web {
    width: 180px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    background: #fff;
    color: #00635a;
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
}

.btn-span {
    width: 180px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    background: #03ab4f;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.btn-span:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

.btn-web:hover {
    color: #00635a;
    text-decoration: none;
    opacity: 0.8;
}

.art-join {
    font-style: italic;
    color: #f1f1f1;
}

.art-join p {
    min-height: 42px;
}

.block-join {
    /* margin-bottom: 30px; */
    padding-bottom: 40px;
}

.btn-b {
    height: 57px;
    line-height: 57px;
}

.btn-big {
    height: 57px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.35;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 992px) {
    .section-video {
        margin-top: 50px;
    }
    .art-story .des-story:after {
        top: 100%;
        transition: all 700ms ease;
    }
    .art-story:hover .des-story:after {
        top: 0;
    }
    .art-story .des-story .icon-quote,
    .art-story .des-story p,
    .art-story .des-story .author {
        opacity: 0;
    }
    .art-story:hover .des-story .icon-quote,
    .art-story:hover .des-story p,
    .art-story:hover .des-story .author {
        animation: fadeOne 1s linear;
        opacity: 1;
    }
    @keyframes fadeOne {
        0% {
            opacity: 0;
        }
        89% {
            opacity: 0;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
}

@media (max-width: 1440px) {
    .section-top .sidebar-datepicker {
        width: 400px;
    }
    .datepicker table tr td,
    .datepicker table tr th {
        height: 39px;
    }
}

@media (max-width: 1199px) {
    .header .header_right>span {
        display: none;
    }
    .section-top {
        display: block;
    }
    .section-top .sidebar-datepicker {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .section-top .content {
        width: 100%;
    }
    .section-new .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    .datepicker table tr td,
    .datepicker table tr th {
        height: 114px;
    }
    /*customer*/
    .icon-quote {
        top: 40px;
    }
    /*news*/
    .section-new .row .col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .outer-box {
        margin-left: 0;
    }
    .box-step h3 i {
        font-size: 22px;
    }
    .box-step h3 span {
        font-size: 54px;
    }
    .outer-box .box-step {
        min-width: 20%;
    }
    .d-flex {
        padding-left: 0;
        display: block!important;
    }
    .d-flex .box-reward-1:first-child {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .d-flex .box-reward-1:last-child {
        margin-top: 30px;
    }
    .d-flex .box-reward-1:last-child .art-reward {
        margin-left: 0;
    }
    .d-flex .box-reward-1:last-child h5 {
        margin-left: 0;
    }
    .btn-web {
        width: 135px;
        font-size: 11px;
        margin-right: 10px;
    }
    .btn-span {
        width: 135px;
        font-size: 11px;
        margin-right: 0;
    }
    .btn-big {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .section-video {
        margin-top: 50px;
    }
    .slide-top .item>div {
        padding-bottom: 73%;
    }
    .slide-top img {
        display: none!important;
    }
    .slide-top img.banner-m {
        display: block!important;
    }
    .datepicker table tr td,
    .datepicker table tr th {
        height: 80px;
    }
    /*customer*/
    .grid-container {
        display: block;
    }
    .grid-item {
        margin-bottom: 20px;
    }
    .container-full {
        padding-left: 0;
        padding-right: 0;
    }
    .art-story {
        margin: 0 30px;
        height: 700px;
        width: auto;
        transform: scale(1);
        transition: all 500ms ease;
    }
    .art-story .des-story {
        display: block;
        padding-top: 100px;
    }
    .slick-customer {
        margin-top: 100px;
    }
    .slick-center .art-story {
        transform: scale(1.1);
    }
    .slick-customer .slick-slide {
        margin: 35px 0;
    }
    /*news*/
    .section-new .row .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .art-new .des .cat {
        font-size: 14px;
        margin: 5px 0 5px 0;
    }
    .art-new .des h3 {
        font-size: 14px;
        margin: 10px 0 15px 0;
    }
    .art-new .des P {
        font-size: 14px;
    }
    .art-new .des {
        padding: 15px;
    }
    .btn-more {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .art-join p {
        min-height: 0;
    }
    .art-join {
        margin-bottom: 30px;
    }
    .outer-box {
        display: block;
        border: 0;
        border-bottom-left-radius: 0;
    }
    .outer-box .box-step:first-child {
        padding-left: 15px;
        border-left: 3px solid #cf5c2a;
        border-bottom-left-radius: 20px;
    }
    .outer-box .box-step {
        border-bottom: 3px solid #cf5c2a;
        margin-bottom: 20px;
    }
    .outer-box::after {
        left: -9px;
        top: -9px;
    }
    .intro {
        text-align: center;
    }
    .intro p {
        margin-bottom: 10px;
    }
    .intro p strong {
        display: block;
    }
    .box-step h3 i {
        font-size: 16px;
    }
    .box-step h3 span {
        font-size: 36px;
    }
    .content-1 {
        font-size: 14px;
    }
    .d-flex-1 {
        display: block;
    }
    .art-reward {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 3px solid #e2a525;
    }
    .box-reward-1 {
        border: 0;
        padding: 0;
    }
    .art-reward div strong {
        font-size: 14px;
    }
    .art-reward div:first-child {
        font-size: 14px;
        width: 200px;
    }
    .d-flex .box-reward-1:last-child .art-reward {
        text-align: center;
        display: block;
    }
    .d-flex .box-reward-1:last-child .art-reward>div:first-child {
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
    }
    .outer-reward h4 {
        text-align: center;
        font-size: 18px;
    }
    .box-reward-1 h5 {
        text-align: center;
    }
    .box-reward-1 h5 strong {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 55px;
    }
    .box-3 .art {
        padding-left: 118px;
    }
    .box-1 .art {
        padding-left: 82px;
    }
    .section-new .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-2 .art {
        padding-left: 15px;
    }
    .art .des .hot a {
        margin-bottom: 10px;
    }
    .hot {
        padding-top: 8px;
    }
    .art .des h3 {
        margin-bottom: 5px;
    }
    .art {
        display: block;
        padding: 0 15px;
    }
    .art .thumb {
        width: 100%;
        display: block;
    }
    .art .thumb img {
        width: 100%;
    }
    .art .des {
        padding: 0;
    }
    .title-s {
        margin-bottom: 40px;
    }
    .title-s h1 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .main {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .header.small {
        padding-top: 5px;
    }
    .header.small .header_right span {
        font-size: 32px;
    }
    .header.small .logo img {
        width: 200px;
        margin-top: 10px;
    }
    .header.small .header_right .menu span {
        height: 39px;
        width: 43px;
    }
    .logo img {
        width: 230px;
        margin-top: 15px;
    }
    .header {
        padding: 10px 0;
    }
    .header .header_right span {
        margin-right: 0;
        border-radius: 10px;
    }
    .slick-next,
    .slick-prev {
        width: 40px;
        height: 40px;
        background-size: contain!important;
    }
    .content-1 h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .hightlight h2 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .block-join h3 img {
        max-width: 100%;
    }
    .content-1 {
        margin-top: 30px;
        padding-bottom: 70px;
    }
    .d-flex .box-reward-1:last-child .art-reward img {
        margin-top: 20px;
        width: 200px;
    }
    .box-center {
        text-align: center;
    }
    .box-center a {
        display: block;
    }
    .mt-3 {
        display: flex;
    }
    .mt-3>a {
        width: 50%;
    }
    .hightlight {
        clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
        margin-top: -80px;
        padding-top: 80px;
        padding-bottom: 30px;
    }
}

@media (max-width: 414px) {
    .section-video {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 60px;
    }
    .section-top .sidebar-datepicker {
        padding: 30px;
    }
    .border-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .datepicker table tr td,
    .datepicker table tr th {
        height: 46px;
        font-size: 14px;
    }
    .menu .dropdown-toggle {
        width: 40px;
        height: 37px;
    }
    .header.small .logo img {
        margin-top: 5px;
    }
    .header.small .header_right .menu span {
        width: 38px;
        height: 35px;
    }
    .logo img {
        margin-top: 7px;
    }
    .header {
        padding-top: 5px;
        padding-bottom: 9px;
    }
    .header .header_right span {
        margin-top: 0;
    }
    /*customer*/
    .art-story {
        margin: 0 15px;
        height: 450px;
    }
    .art-story .des-story {
        font-size: 12px;
        padding: 50px 15px 15px 15px;
        font-style: normal;
    }
    .icon-quote {
        background-size: 60%;
        top: 9px;
    }
    .art-story .des-story .author {
        font-size: 12px;
    }
    .art-story .des-story:after {
        clip-path: polygon(0 20px, 100% 0, 100% 100%, 0% 100%);
    }
    .slick-customer {
        margin-top: 0px;
        padding-bottom: 45px;
        margin-bottom: 50px!important;
    }
    .title-b {
        margin-bottom: 0;
    }
    .title-b h1 {
        margin-bottom: 10px;
    }
    .slick-customer .slick-dots li {
        margin: 0;
        margin-top: 11px;
    }
    .slick-customer .slick-dots li button:before {
        font-size: 8px;
        color: #cad8ce;
        opacity: 1;
        position: relative;
        z-index: 2;
    }
    .slick-customer .slick-dots li.slick-active button:before {
        color: #006853;
    }
    .slick-customer .slick-dots li.slick-active button:after {
        content: "";
        /* width: 100%; */
        /* height: 100%; */
        position: absolute;
        z-index: 1;
        background: #65a091;
        left: 2px;
        top: 6px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    .slick-customer .slick-prev {
        width: 32px;
        height: 32px;
        background: url(../img/story/icon-prev.png) 0 0 no-repeat!important;
        left: 50%;
        top: 100%;
        margin-left: -128px;
    }
    .slick-customer .slick-next {
        width: 32px;
        height: 32px;
        background: url(../img/story/icon-next.png) 0 0 no-repeat!important;
        top: 100%;
        right: 50%;
        margin-right: -128px;
    }
    .slick-customer .slick-dots {
        background: #006853;
        width: 270px;
        height: 50px;
        left: 50%;
        margin-left: -135px;
        border-radius: 135px;
    }
    .btn-100 {
        width: 100%!important;
    }
}

@media (max-width: 375px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 40px;
    }
}

@media (max-width: 360px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 38px;
    }
}

@media (max-width: 320px) {
    .datepicker table tr td,
    .datepicker table tr th {
        height: 32px;
    }
}


/*tho them vao*/

.dropdown-menu {
    color: #d5982a;
    background-color: rgba(0, 104, 83, 0.9)!important;
    background-clip: padding-box;
    border: none!important;
    border-radius: 0px!important;
}

.header .header_right span {
    border-radius: 10px!important;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #d5982a;
    text-transform: uppercase;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:hover {
    color: #db7b28;
    text-decoration: none;
    background-color: #006853;
}